@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Todo List";
}

<div>
    <h2>Todo</h2>
    <ul>
        <li>Custom CRUD operations</li>
        <li>Cookie-based authentication</li>
        <li>Version controlling (Github, BitBucket)</li>
    </ul>
</div>